.logo {
    width: 130px;
    height: 31px;
    margin: 11px 28px 11px 0;
    float: left;
    font-size: 20px;
    line-height: 31px;
    color: #fff;
  }
  .logout{
    height: 31px;
    margin: 11px -10px 11px 0;
    float: right;
    font-size: 13px;
    line-height: 31px;
    color: #fff;
  }

  .logout-username{
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
  }

  body{
      background-color: #f0f2f5;
  }